extends layout 

block content
    div
        h1= title 
        form(action="/new", method="post") 
            label(for="messageUser") Name:
            input(type="text" name="messageUser" maxlength=10)
            label(for="messageText") Message:
            textarea(name="messageText", cols="30", rows="15" )
            button(type="submit") Submit