extends layout

block content
  div 
    h1= title
    ul
      each val in messages.length ? messages : ['There are no posts']
        li
          p= `Posted by ${val.user} on ${val.added}`
          p= val.text
